#contenedor-botones{
    margin: 2% 26%;
}

#contenedor-edades {
    position: absolute;
    top: 0%;
} 

#contenedor-salarios {
    position: absolute;
    top: 0%;
    left: 12%;
}

#contenedor-texto {
    width: 20%;
    margin: 230px auto;
    font-size: 20px;
}

.error {
    border: 2px solid red;
}

.oculto {
    display: none;
}
